<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./partials/header.ejs'); %>
</head>
<body>

<%- include('./partials/navbar.ejs'); %>

<section class="mh">
<div class="card">
    <div class="card-body">
        <h3 class="text-center"> <span style="font-weight: bold;">< <%= cname %> ></span> 동아리정보 수정 </h3>
        <form id="updateForm" action="/info/update/text" method="POST">
            <div class="text-center">
                <a href="/"><button type="button" class="btn btn-amber btn-sm">메인으로</button></a>
                <a href="/info"><button type="button" class="btn btn-yellow btn-sm">이전으로</button></a>
            </div>
            <table class="table table-hover table-bordered" id="info-table">
                <colgroup>
                    <col width="20%" />
                    <col width="40%" />
                    <col width="40%" />
                </colgroup>
                <tr>
                    <td class="text-center indigo lighten-1 text-white" colspan="3">기본정보</td>
                </tr>
                <tr>
                    <td>동아리명</td>
                    <td><input type="text" value="<%= cname %>" placeholder="모임이름" disabled> </td>
                    <td rowspan="5"><img id="club_logo" style="width:100%;" src="/img/logo/alt.jpg">
                    </td>
                </tr>
                <tr>
                    <td>대분류</td>
                    <td>
                        <input type="text" id="category1" name="category1" value="" placeholder="모임분류" disabled>
                    </td>
                </tr>
                <tr>
                    <td>중분류</td>
                    <td id="category2">-</td>
                </tr>
                <tr>
                    <td>소분류</td>
                    <td><input type="text" id="category3" name="category3" value="" placeholder="동아리 활동내용 요약"> </td>
                </tr>
                <tr>
                    <td>캠퍼스</td>
                    <td id="campus">
                        <input type="radio" id="mr" name="campus" value="명륜" disabled>
                        <label for="mr">명륜</label>
                        <input type="radio" id="yj" name="campus" value="율전" disabled>
                        <label for="yj">율전</label><br>
                        <input type="radio" id="both" name="campus" value="명륜, 율전" disabled>
                        <label for="both">명륜/율전 통합</label><span style="font-size: smaller;color:red;">(명륜/율전 통합관리계정)</span>
                    </td>
                </tr>
                <tr>
                    <td>설립연도</td>
                    <td><input type="text" id="estab_year" name="estab_year" value="" placeholder="설립연도"> </td>
                    <td>
                        <div>
                            <input type="file" name="logoUpload" id="logoUpload" style="overflow:hidden; width:100%;">
                            <div style="display: none;" class="text-right">
                                <span id="saveState">
                                    <i class="fa fa-exclamation-circle fa-lg"></i>
                                    <span style="font-size: smaller;color:red;"> 업로드 되지 않음</span>
                                </span>
                                <button type="button" id="saveUpdateBtn" class="btn btn-deep-orange btn-sm">사진 업로드</button>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="text-center indigo lighten-1 text-white" colspan="3">모임 소개</td>
                </tr>
                <tr>
                    <td>소개글</td>
                    <td colspan="2">
                        <textarea type="text" id="intro_text" name="intro_text" style="width:100%; min-height: 400px; padding: 15px 10px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>핵심 소개문구</td>
                    <td colspan="2"><input type="text" id="intro_sentence" name="intro_sentence" value="" style="width:80%;" placeholder="표어, 캐치프레이즈 등">
                    </td>
                </tr>
                <tr>
                    <td>활동내용</td>
                    <td colspan="2">
                        <textarea type="text" id="activity_info" name="activity_info" style="width:100%; min-height: 300px; padding: 15px 10px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>모임시간</td>
                    <td colspan="2"><textarea type="text" id="meeting_time" name="meeting_time" style="width:100%; min-height: 100px; padding: 15px 10px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>모임장소</td>
                    <td colspan="2">
                        <input type="text" id="activity_location" name="activity_location" value="" style="width:80%;" placeholder="활동 또는 모임장소">
                    </td>
                </tr>
                <tr>
                    <td>활동인원</td>
                    <td colspan="2">
                        <input type="text" id="activity_num" name="activity_num" value="" placeholder="대략적인 활동인원"></td>
                </tr>

                <tr>
                    <td class="text-center indigo lighten-1 text-white" colspan="3">리쿠르팅 정보</td>
                </tr>
                <tr>
                    <td>모집시기</td>
                    <td colspan="2">
                        <input type="text" id="recruit_season" name="recruit_season" value="" placeholder="매학기/상반기/상시모집 등">
                    </td>
                </tr>
                <tr>
                    <td>의무활동기간</td>
                    <td colspan="2">
                        <input type="text" id="activity_period" name="activity_period" value="" placeholder="1년/3학기/없음 등">
                    </td>
                </tr>
                <tr>
                    <td>모집방식</td>
                    <td colspan="2">
                        <input type="text" id="recruit_process" name="recruit_process" value="" placeholder="자유가입/서류/면접/실기 등">
                    </td>
                </tr>
                <tr>
                    <td>모집인원</td>
                    <td colspan="2">
                        <input type="text" id="recruit_num" name="recruit_num" value="" placeholder="OO명/변동 등">
                        </td>
                </tr>
                <tr>
                    <td>리쿠르팅 사이트</td>
                    <td colspan="2">
                        <input type="text" id="recruit_site" name="recruit_site" value="" placeholder="구글폼, 자체사이트 등">
                    </td>
                </tr>

                <tr>
                    <td class="text-center indigo lighten-1 text-white" colspan="3">연락처/사이트</td>
                </tr>
                <tr>
                    <td>대표자 이름</td>
                    <td colspan="2">
                        <input type="text" id="president_name" name="president_name" value="" placeholder="모임장/대표자 이름">
                    </td>
                </tr>
                <tr>
                    <td>대표자 연락처</td>
                    <td colspan="2">
                        <input type="text" id="president_contact" name="president_contact" value="" placeholder="모임장/대표자 연락처">
                    </td>
                </tr>
                <tr>
                    <td>긴급연락처</td>
                    <td colspan="2">
                        <input type="text" id="emergency_contact" name="emergency_contact" value="" placeholder="긴급연락처">
                    </td>
                </tr>
                <tr>
                    <td>동아리 웹페이지 1</td>
                    <td colspan="2">
                        <input type="text" id="website_link" name="website_link" value="" placeholder="페이스북, 인스타 등">
                    </td>
                </tr>
                <tr>
                    <td>동아리 웹페이지 2</td>
                    <td colspan="2">
                        <input type="text" id="website_link2" name="website_link2" value="" placeholder="페이스북, 인스타 등">
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <button id="saveTextBtn" type="submit" class="btn btn-deep-orange btn-sm">저장하기</button>
            </div>
        </form>
    </div>
</div>
</section>

<!-- Save Temp Btn -->
<button id="floatingBtn" class="btn btn-info btn-floating" style="position: fixed; right:30px; bottom: 30px;">
    <span class="fa fa-archive fa-2x"></span>
    <span style="display: none;">임시<br>저장</span>
</button>

<div id="modalArea"></div>

<%- include('./partials/footer.ejs'); %>

</body>

<%- include('./partials/scripts.ejs'); %>
<script type="module" src="/js/clubupdate.js"></script>


</html>