<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>

<div class="card">
    <div class="card-body">
        <h3 class="text-center"> <span style="font-weight: bold;">< <%= cname %> ></span> 동아리소개 정보 </h3>
        <div class="text-center">
            <a href="/"><button type="button" class="btn btn-amber btn-sm">메인으로</button></a>
            <% if(auth === 0 || auth === 1){ %>
                <button type="button" class="btn btn-warning btn-sm" disabled>수정하기</button>
            <% } else {%>
                <a href="/info/update"><button type="button" class="btn btn-warning btn-sm">수정하기</button></a>
            <% } %> 
        </div>
        <table class="table table-hover table-bordered" id="info-table">
            <colgroup>
                <col width="25%" />
                <col width="40%" />
                <col width="35%" />
            </colgroup>
            <tr>
                <td class="text-center indigo lighten-1 text-white" colspan="3">기본정보</td>
            </tr>
            <tr>
                <td>동아리명</td>
                <td>
                    <%= result['cname']  %>
                    <% if([1, 3, 4, 5, 6].includes(auth)) { %> 
                        <span class="badge badge-pill badge-success">공개중</span>
                    <% } else { %>
                        <span class="badge badge-pill badge-danger">비공개</span>
                    <% } %>
                    <% if([2, 3, 4, 5, 6].includes(auth)) { %>
                        <span class="badge badge-pill badge-default">수정가능</span>
                    <% } else { %>
                        <span class="badge badge-pill badge-danger">수정불가</span>
                    <% } %>
                </td>
                <td rowspan="5"><img style="width:100%;" src="/img/logo/<%= result['logo_path'] %>" onerror="this.src = '/img/logo/alt.jpg'"></td>
            </tr>
            <tr>
                <td>대분류</td>
                <td id="category1"></td>
            </tr>
            <tr>
                <td>중분류</td>
                <td id="category2"></td>
            </tr>
            <tr>
                <td>소분류</td>
                <td id="category3"></td>
            </tr>
            <tr>
                <td>캠퍼스</td>
                <td id="campus"></td>
            </tr>
            <tr>
                <td>설립연도</td>
                <td id="estab_year"></td>
                <td><%= cname %> 로고 </td>
            </tr>

            <tr>
                <td class="text-center indigo lighten-1 text-white" colspan="3">모임 소개</td>
            </tr>
            <tr>
                <td>소개글</td>
                <td colspan="2" id="intro_text"> </td>
            </tr>
            <tr>
                <td>핵심 소개문구</td>
                <td colspan="2" id="intro_sentence"></td>
            </tr>
            <tr>
                <td>활동내용</td>
                <td colspan="2" id="activity_info"></td>
            </tr>
            <tr>
                <td>모임시간</td>
                <td colspan="2" id="meeting_time"></td>
            </tr>
            <tr>
                <td>모임장소</td>
                <td colspan="2" id="activity_location"></td>
            </tr>
            <tr>
                <td>활동인원</td>
                <td colspan="2" id="activity_num"> </td>
            </tr>

            <tr>
                <td class="text-center indigo lighten-1 text-white" colspan="3">리쿠르팅 정보</td>
            </tr>
            <tr>
                <td>모집시기</td>
                <td colspan="2" id="recruit_season"></td>
            </tr>
            <tr>
                <td>의무활동기간</td>
                <td colspan="2" id="activity_period"></td>
            </tr>
            <tr>
                <td>모집방식</td>
                <td colspan="2" id="recruit_process"></td>
            </tr>
            <tr>
                <td>모집인원</td>
                <td colspan="2" id="recruit_num"></td>
            </tr>
            <tr>
                <td>리쿠르팅 사이트</td>
                <td colspan="2" id="recruit_site"></td>
            </tr>

            <tr>
                <td class="text-center indigo lighten-1 text-white" colspan="3">연락처/사이트</td>
            </tr>
            <tr>
                <td>대표자 이름</td>
                <td colspan="2" id="president_name"></td>
            </tr>
            <tr>
                <td>대표자 연락처</td>
                <td colspan="2" id="president_contact"></td>
            </tr>
            <tr>
                <td>긴급연락처</td>
                <td colspan="2" id="emergency_contact"></td>
            </tr>
            <tr>
                <td>동아리 웹페이지 1</td>
                <td colspan="2" id="website_link"></td>
            </tr>
            <tr>
                <td>동아리 웹페이지 2</td>
                <td colspan="2" id="website_link2"></td>
            </tr>
        </table>
        <div class="text-center">
            <a href="/"><button type="button" class="btn btn-amber btn-sm">메인으로</button></a>
            <% if(auth === 0 || auth === 1){ %>
                <button type="button" class="btn btn-warning btn-sm" disabled>수정하기</button>
            <% } else {%>
                <a href="/info/update"><button type="button" class="btn btn-warning btn-sm">수정하기</button></a>
            <% } %> 
        </div>
    </div>
</div>

<!-- html 로드 후에 실행 (개행 표현을 위해) -->
<% for(var key in result){ %>
<script>
    try {
        document.getElementById(`<%= key %>`).innerHTML = `<%= result[key] %>`.replace(/\n/gi, '<br>')
    } catch {
        console.log(`Cannot find [ <%= key %> ]`)
    }
</script>
<% } %>

<%- include('./partials/footer.ejs'); %>
<%- include('./partials/scripts.ejs'); %>