<%- include('./partials/header.ejs'); %>
<%- include('./partials/navbar.ejs'); %>
<div class="card">
    <div class="card-body">

        <div class="card-header">
            <h3 class="text-center">SKKLUB 관리자 로그인</h3>
        </div>
        <!-- Default form login -->
        <form class="text-center border border-light p-5" action="/login" method="POST">

            <p class="h4 mb-4">Log in</p>

            <!-- Email -->
            <input type="text" id="admin_id" name="admin_id" class="form-control mb-4" placeholder="Club ID" required value="멋쟁이사자처럼">

            <!-- Password -->
            <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password" required value="111111">

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit" id="sign-in">Log in</button>
            <div style="color: rgb(247, 114, 114)">
                <% if(messages.error) { %>
                <%= messages.error %>
                <% } %>
                <% if(messages.flash) { %>
                <%= messages.flash %>
                <% } %>
            </div>
            <!-- Register -->
            <!-- <p>Not a member?
            <a href="">Register</a>
            </p> -->

        </form>
    </div>
</div>
<%- include('./partials/scripts.ejs'); %>